@charset "UTF-8";

body{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #797979;
    margin: 0;
}

header {
    background-color: green;
}

section, footer{
    margin: 40px;
}

h1{
    font-size: 63px;
    text-align: center;
    color: #ffffff;
    padding: 30px;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

.carousel-caption h5 {
    font-size: 80px;
    color: green;
    text-shadow: 2px 2px 2px black;
}


